{
  "employees": [
    {
      "id": 1,
      "name": "Lant Géza",
      "city": "Szeged",
      "salary": 342
    },
    {
      "id": 2,
      "name": "Erős István",
      "city": "Szolnok",
      "salary": 327
    }
  ]
}